body, .rptBody {
   background:#ffffff;
   color:#000;
   font-size:10pt;
   font-family:Arial;
   margin: 0;
}

.rptFooter {
   font-size:10px;
   font-family:Arial;
}
table {
   border-collapse:collapse;
   background:#ffffff;
   color:#000;
   font-size:10pt;
   font-family:Arial;
   font-weight:400;
   width:100%;
}
th, td_hdr {text-align:center;font-weight:600;}
td_dtl {font-weight:400;}
.center-- {text-align:center}
.right-- {text-align:right}
.left-- {text-align:left}

tbody > tr > td, .colHEADER > th {
   border:1px solid black;
   padding:3px;
}
.errmsg {
   font-weight:600;
   color:red;
}
.pad-left {
   padding-left:10px;
}
.page--, .rptBody {max-height:29.7cm;width:15in;border:0px solid #ddd;}

@media print {
   .ruler, .noPrint, .noPrint *{display: none !important;}
   .nextpage  {page-break-after:always;}
   .lastpage  {page-break-after:avoid;}
   .page--, .rptBody {max-height:29.7cm;width:21.0cm;border:0px solid #ddd;}
   body {
      font-family: Courier New;
      margin: 0;
   }
}




