.is-danger{
    color:red !important;
}
body {
    background:url("./img/whitebg.jpg") !important;
    /*color:#164c8a !important;*/
}
a:link{
    text-decoration: none;
}
#mainScreen{
    margin-left: 200px !important;
}
.paginate-style{

    float: right;
    position: relative;
    clear: both;
    top: -40px;
}
.isSelected{
    color:red;
}

.btn-editbg{
    background-color: #158e15;
}
.btn-savebg{
    background-color: #164c8a;
}
.misc-wrapper, .govt-wrapper{
    line-height: 25px;
}
.misc-wrapper ul {
    list-style: none;
}
.misc-wrapper li >  a{
    font-size: 15px;
    font-weight: bold;
}
.govt-wrapper ul {
    list-style: none;
}
.govt-wrapper li >  a{
    font-size: 15px;
    font-weight: bold;
}
.box-1{
    padding: 0px 15px 0px 20px;
}
.style-box2{
    position: relative;
    top: -10px;
}
.button-style-wrapper{
    margin-bottom: 10px;
    clear:both;
    position: relative;
    top: -28px;
    right: 6px;
}
.liststyle02{
    padding-left: 15px;
}

.sidemenu ul {
	padding: 15px 0px 3px 20px;
	list-style: none;
	line-height: 2.7px;
}
.list-inline{
	padding-top: 8px;
}
.list-inline li>a{
	color: white;
}

.dash-content {
	background-color: #ffffff;
    border-radius: 2px;
    width: 100%;
    padding: 8px;
    margin-top: 75px;
    height: 300px;
}
.noti-content{
	background-color: #ffffff;
    border-radius: 2px;
    width: 100%;
    padding: 0px;
    margin-left: 5px;
    position: relative;
    top: 9px;
}

.float-right{
	margin-top: 22px;
    float: right;
    position: relative;
    left: 17px
}
.list-float{
	position: relative;
    top: 16px;
}
.list-item1{
	left: 0px;
    position: relative;
    float: right;
}
.announce-style{
	background-color: #39f423;
    margin-left: 7px;
    margin-right: 7px;
    padding: 5px 0px 3px 0px;
    color: #ffffff;
    position: relative;
    top: -8px;
}
.no-of-emp{
	background-color: #5dfc5a;
    border-radius: 6px;
    text-align: center;
    height: 200px;
    padding: 8px 37px 0px 40px;
}
.not-of-bday{
	background-color: #fbfe30;
    border-radius: 6px;
    text-align: center;
    height: 200px;
    padding: 8px 37px 0px 40px;
}
.prom-of-emp{
	background-color: #0fb5f4;
    border-radius: 6px;
    text-align: center;
    height: 200px;
    padding: 8px 37px 0px 40px;
}
/*CUSTOM NUMBER*/
.style-no1{
	font-size: 24px;
	display: block;
    text-align: center;
}
/*CUSTOM BOX*/
.style-box1{
	background-color: #ffffff;
    border-radius: 8px;
}
/*CUSOTOM FONT */
.font-style1{
	font-size: 8px;
}
.font-style2{
	font-size: 12px;
	height: 30px;
}

/*BORDER STYLE*/
.border-style1{
	padding-left: 0px;
}
.border-style2{
	margin-top: 4px;
	border-radius: 8px;
    padding: 20px 10px 0px 2px;;
    /*border: 1px solid #e9e4e4;*/
}

.border-style02{
    margin-top: 4px;
    border-radius: 8px;
    padding: 20px 10px 0px 2px;;
    /*border: 1px solid #e9e4e4;*/
}
.border-style3{
    padding: 25px 20px 0px 20px;
    height: 185px;
    margin-bottom: 20px;
}
.border-style4{
    padding: 10px 20px 0px 20px;
    margin-bottom: 20px;
}
.borderless td, .borderless th {
    border: none;
}

.table{
	font-size: 12px;
    background: none;
}

.tab-container{
	width: 100%;
}
td{
	border-top:none !important;
}

.topmenu-style{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    transition: all 0.5s ease 0s;
    color:#ffffff;
}
.topmenu-style2{
    width: 20%;
    padding: 10px 0px 10px 0px;
    position: relative;
    right: 4px;
}
.topmenu-style2:hover {
    cursor: pointer;
    background: var(--bgHover1);
    color:white;
}
.margintop-25{
    margin-top: -25px;
}
.relativetop-180{
    clear: both;
    width: 206%;
    position: relative;
    top: -20px;
}

.radiobut-style{
    font-size: 10px;
    line-height: 20px;
    margin-left: 40px;
    color: #000;
}


.sub-panel{
    position: relative;
    top: -35px;
}

.dataTables_filter{
    float: right;
    clear: both;
    position: relative;
    margin-right: 20px;
}
div#salarytable_info.dataTables_info{
    float: right;
}
div#tbl_benefits_info.dataTables_info{
    float: right;
}
div#tbl_adjustments_info.dataTables_info{
    float: right;
}
div#tbl_deductions_info.dataTables_info{
    float: right;
}
div#tbl_loans_info.dataTables_info{
    float: right;
}
div#tbl_responsibilitycenter_info.dataTables_info{
    float: right;
}
div#tbl_banks_info.dataTables_info{
    float: right;
}
div#tbl_bankbranches_info.dataTables_info{
    float: right;
}
div#philpolicy_info.dataTables_info{
    float: right;
}
div#pagibigpolicy_info.dataTables_info{
    float: right;
}
div#tbl_gsis_policies_info.dataTables_info{
    float: right;
}
div#tbl_providentfund_info.dataTables_info{
    float: right;
}
div#taxestable_info.dataTables_info{
    float: right;
}
div#taxpolicy_info.dataTables_info{
    float: right;
}
div#taxannual_info.dataTables_info{
    float: right;
}
div#wagetable_info.dataTables_info{
    float: right;
}
div#tbl_salaryinfo_info.dataTables_info{
    float: right;
}
div#tbl_benefitinfo_info.dataTables_info{
    float: right;
}
div#tbl_loaninfo_info.dataTables_info{
    float: right;
}
div#tbl_deductioninfo_info.dataTables_info{
    float: right;
}
div#tbl_benefitTransact_info.dataTables_info{
    float: right;
}
div#tbl_loanTransact_info.dataTables_info{
    float: right;
}
div#tbl_deductTransact_info.dataTables_info{
    float: right;
}
div#tbl_rata_info.dataTables_info{
    float: right;
}
div#tbl_cashgift_info.dataTables_info{
    float: right;
}
div#tbl_cead_info.dataTables_info{
    float: right;
}
div#tbl_eme_info.dataTables_info{
    float: right;
}
div#tbl_pe_info.dataTables_info{
    float: right;
}
div#tbl_yearendbonus_info.dataTables_info{
    float: right;
}
div#tbl_divisions_info.dataTables_info{
    float: right;
}
div#tbl_offices_info.dataTables_info{
    float: right;
}
div#tbl_employee_status_info.dataTables_info{
    float: right;
}
div#tbl_positions_info.dataTables_info{
    float: right;
}
/*.dataTables_length{
    display: none;
}

.dataTables_paginate{
    float: rightu    position: relative;
    top: -30px;
}*/

.formcontent{
    position: relative;
    top: -25px;
}

.datatable tr:hover{
    background-color: #f3f3f3;
    cursor:pointer;
}
/* 164c8a Custom Blue */
/* 158e15 Custom Green */

table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    /*border: 2px solid black;*/
}

.scroll {
  table-layout: fixed;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th {
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}

table.scroll tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody { border-top: 1px solid #eee; }

tbody td, thead th {
    /* width: 20%; */ /* Optional */
    border-right: 1px solid #eee;
    /* white-space: nowrap; */
}

.scroll td:first-child {
  width: 10%;
}
.scroll td:nth-child(2) {
  width: 90%;
}

.scroll thead th:nth-child(2) {
    width: 100%; /* 140px + 16px scrollbar width */
}

.panel-default>.panel-heading{
    color: #fff !important;
    background-color: #164c8b !important;
}

.line-height30{
    line-height: 30px;
}


.ajax-loader {
  visibility: hidden;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  z-index: +100 !important;
  width: 100%;
  height:100%;
}

.ajax-loader img {
  position: relative;
  top:50%;
  left:50%;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #fff !important;
    cursor: default;
    background-color: #154984 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.header-nav{
    background: #1c1d22;
    color: #fff;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 63px;
}

#div_RSideBar{
    top: 105px; !important;
}

.panel-top{
    padding-left: 5px;
    border-radius: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.web-content{
    background-color: #fff;
    position: relative;
    top: 85px;
}

#mainScreen{
    background-color: #fff;
}

.lineheight{
    line-height: 30px;
}
.padding01{
    padding: 0px 10px 0px 10px;
}

.loan-reports{
    width: 75%;
}
.reports-bot{
    padding-top: 0px;
    position: relative;
    top: -13px;
}

.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #164c8b;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #428bca;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.report-title{
    width: 185px;
    margin: auto;
    padding-top: 5px;
    font-weight: bold;
}
.report-date{
    width: 130px;
    margin: auto;
    padding-top: 5px;
    font-weight: bold;
    position: relative;
    left: -7px;
}
.report-name{
    width: 95%;
    margin: auto;
}

.trstyle span{
    margin-left: 15px;
}
#reports-table td{
    line-height: 5px;
}
#report-name td{
    line-height: 5px;
}
.footer-left-message{
    width: 75%;
    font-size: 10px;
}
.side-menu{
    margin-left: 10px;
}
.tbl_payrollTransfer{
    font: 12px "Open Sans", sans-serif;
    /*border-collapse: collapse;*/


}

.tbl_payrollTransfer>tbody>tr>td, .tbl_payrollTransfer>tbody>tr>th, .tbl_payrollTransfer>tfoot>tr>td, .tbl_payrollTransfer>tfoot>tr>th, .tbl_payrollTransfer>thead>tr>td, .tbl_payrollTransfer>thead>tr>th{
    padding: 0px 12px 0px 12px;

}
.tbl_payrollTransfer>thead>tr>td{
    font-weight: bold;
}

#employeeList>tr>td {
    white-space:nowrap;
    border:1px solid #e2e2e2;
    text-align: left;
}
.border-black{
    border:1px solid #bcb9b9;
}
.border-top-black{
    border-top:1px solid #000000;
    border-bottom: :1px solid #000000;
}

div#tbl_rata_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer{
    width: 807px !important;
 }
/* div#dataTables_scrollHeadInner{
    width:
 }*/
 td.dt-center { text-align: center; }

.tableFixHead{
  overflow-y: auto;
  height: 340px;
  width: 100%;
}

.tableFixHead table {
  border-collapse: collapse;
  width: 100%;
}

.tableFixHead th,
.tableFixHead td {
  padding: 8px 16px;
  border: none;
}

.tableFixHead th {
  position: sticky;
  top: 0;
}
.model-size{
    width: 100%;
    height: 100%;
}

/* From beagle*/


.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.384615rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.384615rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.384615rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.384615rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.384615rem !important;
}

.m-2 {
  margin: 0.769231rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.769231rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.769231rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.769231rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.769231rem !important;
}

.m-3 {
  margin: 1.154rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1.154rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1.154rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1.154rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1.154rem !important;
}

.m-4 {
  margin: 1.539rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.539rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.539rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.539rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.539rem !important;
}

.m-5 {
  margin: 1.923rem !important;
}

.mt-5,
.my-5 {
  margin-top: 1.923rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 1.923rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 1.923rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 1.923rem !important;
}

.m-6 {
  margin: 2.308rem !important;
}

.mt-6,
.my-6 {
  margin-top: 2.308rem !important;
}

.mr-6,
.mx-6 {
  margin-right: 2.308rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 2.308rem !important;
}

.ml-6,
.mx-6 {
  margin-left: 2.308rem !important;
}

.m-7 {
  margin: 3.077rem !important;
}

.mt-7,
.my-7 {
  margin-top: 3.077rem !important;
}

.mr-7,
.mx-7 {
  margin-right: 3.077rem !important;
}

.mb-7,
.my-7 {
  margin-bottom: 3.077rem !important;
}

.ml-7,
.mx-7 {
  margin-left: 3.077rem !important;
}

.m-8 {
  margin: 3.851rem !important;
}

.mt-8,
.my-8 {
  margin-top: 3.851rem !important;
}

.mr-8,
.mx-8 {
  margin-right: 3.851rem !important;
}

.mb-8,
.my-8 {
  margin-bottom: 3.851rem !important;
}

.ml-8,
.mx-8 {
  margin-left: 3.851rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.384615rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.384615rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.384615rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.384615rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.384615rem !important;
}

.p-2 {
  padding: 0.769231rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.769231rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.769231rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.769231rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.769231rem !important;
}

.p-3 {
  padding: 1.154rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1.154rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1.154rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1.154rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1.154rem !important;
}

.p-4 {
  padding: 1.539rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.539rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.539rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.539rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.539rem !important;
}

.p-5 {
  padding: 1.923rem !important;
}

.pt-5,
.py-5 {
  padding-top: 1.923rem !important;
}

.pr-5,
.px-5 {
  padding-right: 1.923rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 1.923rem !important;
}

.pl-5,
.px-5 {
  padding-left: 1.923rem !important;
}

.p-6 {
  padding: 2.308rem !important;
}

.pt-6,
.py-6 {
  padding-top: 2.308rem !important;
}

.pr-6,
.px-6 {
  padding-right: 2.308rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 2.308rem !important;
}

.pl-6,
.px-6 {
  padding-left: 2.308rem !important;
}

.p-7 {
  padding: 3.077rem !important;
}

.pt-7,
.py-7 {
  padding-top: 3.077rem !important;
}

.pr-7,
.px-7 {
  padding-right: 3.077rem !important;
}

.pb-7,
.py-7 {
  padding-bottom: 3.077rem !important;
}

.pl-7,
.px-7 {
  padding-left: 3.077rem !important;
}

.p-8 {
  padding: 3.851rem !important;
}

.pt-8,
.py-8 {
  padding-top: 3.851rem !important;
}

.pr-8,
.px-8 {
  padding-right: 3.851rem !important;
}

.pb-8,
.py-8 {
  padding-bottom: 3.851rem !important;
}

.pl-8,
.px-8 {
  padding-left: 3.851rem !important;
}


.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #4285f4 !important;
}

.border-secondary {
  border-color: #878787 !important;
}

.border-success {
  border-color: #34a853 !important;
}

.border-info {
  border-color: #4285f4 !important;
}

.border-warning {
  border-color: #fbbc05 !important;
}

.border-danger {
  border-color: #ea4335 !important;
}

.border-light {
  border-color: #FFFFFF !important;
}

.border-dark {
  border-color: #3d3c3c !important;
}

.border-grey {
  border-color: #cccccc !important;
}

.border-white {
  border-color: #FFFFFF !important;
}

.font-weight-bold{
  font-weight:bold !important;
}


/*------------------------------------------------------------------
  [Forms]
*/
/*------------------------------------------------------------------
  [Switch button]
*/
.switch-button {
  display: inline-block;
  border-radius: 50px;
  background-color: #b3b3b3;
  width: 60px;
  height: 27px;
  padding: 4px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.switch-button input[type="checkbox"] {
  display: none;
}

.switch-button label {
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #FFF inset;
  background-color: #FFFFFF;
  margin: 0;
  height: 19px;
  width: 19px;
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  background-clip: padding-box;
}

.switch-button label:before {
  position: absolute;
  font-size: .8462rem;
  font-weight: 600;
  z-index: 0;
  content: "OFF";
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 27px;
  top: 0;
  text-align: right;
  padding-right: 10px;
  color: #FFFFFF;
}

.switch-button input[type="checkbox"]:checked + span {
  background-color: #4285f4;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4px;
}

.switch-button input[type="checkbox"]:checked + span label {
  float: right;
  border-color: #2a75f3;
}

.switch-button input[type="checkbox"]:checked + span label:before {
  position: absolute;
  font-size: .8462rem;
  font-weight: 600;
  z-index: 0;
  content: "ON";
  color: #FFFFFF;
  left: 0;
  text-align: left;
  padding-left: 10px;
}

.switch-button.switch-button-yesno label:before {
  content: "NO";
}

.switch-button.switch-button-yesno input[type="checkbox"]:checked + span label:before {
  content: "YES";
}

.switch-button.switch-button-xs {
  height: 20px;
  width: 53px;
  line-height: 16px;
  width: 50px;
}

.switch-button.switch-button-xs label {
  height: 12px;
  width: 12px;
}

.switch-button.switch-button-xs label:before {
  line-height: 21px;
}

.switch-button.switch-button-sm {
  height: 24px;
  width: 57px;
  line-height: 20px;
}

.switch-button.switch-button-sm label {
  height: 16px;
  width: 16px;
}

.switch-button.switch-button-sm label:before {
  line-height: 25px;
}

.switch-button.switch-button-lg {
  height: 30px;
  width: 63px;
  line-height: 26px;
  width: 65px;
}

.switch-button.switch-button-lg label {
  height: 22px;
  width: 22px;
}

.switch-button.switch-button-lg label:before {
  line-height: 31px;
}

.switch-button.switch-button-success {
  background-color: #b3b3b3;
}

.switch-button.switch-button-success label {
  border-color: #ababab;
}

.switch-button.switch-button-success input[type="checkbox"]:checked + span {
  background-color: #34a853;
}

.switch-button.switch-button-success input[type="checkbox"]:checked + span label {
  border-color: #2e9549;
}

.switch-button.switch-button-warning {
  background-color: #b3b3b3;
}

.switch-button.switch-button-warning label {
  border-color: #ababab;
}

.switch-button.switch-button-warning input[type="checkbox"]:checked + span {
  background-color: #fbbc05;
}

.switch-button.switch-button-warning input[type="checkbox"]:checked + span label {
  border-color: #e3aa04;
}

.switch-button.switch-button-danger {
  background-color: #b3b3b3;
}

.switch-button.switch-button-danger label {
  border-color: #ababab;
}

.switch-button.switch-button-danger input[type="checkbox"]:checked + span {
  background-color: #ea4335;
}

.switch-button.switch-button-danger input[type="checkbox"]:checked + span label {
  border-color: #e82e1e;
}

.d-none {
  display: none !important;
}

@media print{
  .d-none {
    display: none !important;
  }
}

